# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.mineralien_wpf.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\development\projects\mineralienKatalog\sources\mineralien_wpf\.idea\.idea.mineralien_wpf\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
